body {
    background-image: url("Assets/Repeat\ Floral\ Pattern.png");
    background-repeat: repeat-y;
}

.brand {
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 15px;
  color: #ffffff;
  padding: 5px 15px 5px 10px;
  background-color: #092d24;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
   font-family:
   -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
   line-height: 1.4;
  }
  
  .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    color: rgb(12, 48, 45);
    border-color: #000000;
    border-style: outset;
    border-width: 2px;
    border-right: 4px solid #000000;
    border-bottom: 4px solid #000000;
    background-color: #ffffff;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow-y: auto;
  }
  
  .app-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
  }
  
  img {
    width: 80px;
    height: 80px;
  }
  
  .todo-list {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .todo-item {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000000;
  }
  
  .todo-item span {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    font-family: 'Edu NSW ACT Foundation', cursive;
  }
  
  .done span {
    text-decoration: line-through;
    text-decoration-thickness: 1.6px;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .tick {
    width: 25px;
    height: 25px;
    border: 2px solid #162c2d;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .tick::before {
    content: '✓';
    font-size: 18px;
    display: none;
  }
  
  .done .tick::before {
    display: inline;
  }
  
  .delete-todo {
    border: none;
    color: black;
    outline: none;
    cursor: pointer;
  }

  img {
    width: 250px;
    height: 250px;
  }
  
  .delete-todo svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
  }
  
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-bottom: 3.5px solid #000000 ;
    border-right: 3.5px solid #000000;
  }
  
  
  .empty-state {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .checklist-icon {
    margin-bottom: 1px;
  }
  
  .empty-state__title {
    margin-bottom: 40px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 18px;
    opacity: 70%;
  }
  

  .todo-list:empty {
    display: none;
  }
  
  .todo-list:empty + .empty-state {
    display: flex;
  }
